<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

  
  <div class="flash-infos">   
   
    <div class="flash-info">      
    <strong>New Month. NEW ESCENTS.
    </div>
    <div class="flash-info">
    <strong>Free shipping on Orders above Rs. 995/-
    </div>    
      </div>
  
  
  <style>
   .flash-infos {
     padding:6px 10px;
     background:#F3F3F3;
     color:#000;
     display:flex;
     width:100%;
     max-width:100%;
     align-items:center;
     
   }
    .flash-info  {
      padding:0;
      display:flex !important;
      align-items:center;
      justify-content:center;
    }
    .flash-info svg {
      fill:#000;
      margin-right:7px;
      width:auto;
      height:28px;
    } 
    .flash-info.truck svg  {
      height:30px;
    }
    .flash-info-pulse {
      animation: flash-pulse 2s infinite;
    }
    @keyframes flash-pulse {
      0% {
        opacity:0;
      }
      
      50% {
        opacity:1;
      }

      100% {
        opacity:1;
      }
    }
  </style>

  <script type="text/javascript">      
    
    $('.flash-infos').slick({
      dots: false,
      infinite: true,
      speed: 300,        
      autoplay: true,
      autoplaySpeed: 3000,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      responsive: [          
        {
          breakpoint: 900,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }          
      ]
    });
 
  </script>